.editform{
    padding: 25px 40px 30px;
    border-radius: 6px;
    max-width: 400px!important;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
    margin-top: 110px;
}

.form_edit_btn{
    display: block;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #1e1e2c;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    margin-top: 20px;
}

.form_h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}